@import url("https://fonts.googleapis.com/css2?family=Candal&family=Euphoria+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
main {
  background-color: #222;
  max-width: 1925px;
  margin: 0 auto;
  height: 1085px;
}
main #bottom_dot_shape {
  position: absolute;
  bottom: 5%;
  right: 60%;
}
main #right_dot_shape {
  position: absolute;
  right: 3%;
  top: 5%;
}
main #left_dot_shape {
  transform: rotate(90deg) scale(-1, 1);
  position: absolute;
  top: 25%;
}
#dot_circle {
  max-width: 37%;
  opacity: 0.05;
  color: #645959;
}
#wave {
  width: 80%;
  height: ;
  position: absolute;
  bottom: 0;
  right: 0;
}
.center_items {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.text {
  width: 30%;
  text-align: center;
}
.handwriting_text {
  color: #fff;
  font-family: "Euphoria Script", cursive;
  font-size: 30px;
  font-weight: 400;
}
.main_text {
  font-family: "Candal", sans-serif;
  color: #ffde41;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
}
