@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Wendy+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
main {
  background-color: #222;
  max-width: 1925px;
  margin: 0 auto;
  height: 1085px;
}
main #bottom_dot_shape {
  position: absolute;
  bottom: 5%;
  right: 60%;
}
main #right_dot_shape {
  position: absolute;
  right: 3%;
  top: 5%;
}
main #left_dot_shape {
  transform: rotate(90deg) scale(-1, 1);
  position: absolute;
  top: 25%;
}
.circle {
  width: 37%;
}
#dot_circle {
  width: 100%;
  opacity: 0.05;
  color: #645959;
}
#wave {
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* adding center items */

.center_items {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: top;
  margin: 10% auto;
}
.text {
  margin-top: 7%;
  width: 40%;
  line-height: 0.9;
}
.handwriting_text {
  color: #fff;
  font-family: "Euphoria Script", cursive;
  font-size: 30px;
  font-weight: 400;
  margin-left: 8%;
}
.main_text {
  font-family: "Wendy One", sans-serif;
  color: #ffde41;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 3px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mega_sale {
  background: url(./img/bg_sale.png) no-repeat;
  width: 50%;
  padding: 8px 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
  left: 24%;
  font-family: "Wendy One", sans-serif;
  font-size: 47px;
  text-transform: uppercase;
  font-weight: 700;
}
.paragraph {
  width: 85%;
  margin: 6% auto;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  line-height: 30px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 5%;
  padding: 1%;
  margin: 0 auto;
  background-color: #ffde41;
  border-radius: 25px;
}
.btn a {
  text-decoration: none;
  color: #222222;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 900;
}

/* adding right angle items */

.angle_items{
  width: 9%;
  position: absolute;
  left: 90%;
  top: 75%;
}
.small_hand_text {
  color: #fff;
  font-family: "Euphoria Script", cursive;
  font-size: 25px;
  font-weight: 400;
}
.yellow_number{
  font-family: "Wendy One", sans-serif;
  font-size: 64px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffde41;
  line-height: 0.9;
}
.discount{
  display: flex;
}
.column_persent{
  display: flex;
  flex-direction: column;
}
.persent{
  font-size: 32px;
  line-height: 0.9;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffde41;
  font-family: "Wendy One", sans-serif;
}
.off_text{
  font-size: 22px;
  line-height: 1;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Wendy One", sans-serif;
}
